[alias]
  lg = log --oneline --graph --decorate --all
  # lg = --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  prp = pull --rebase=preserve
[push]
  default = simple
[fetch]
  prune = true
